body {
  background-image: url("./background.jpg");
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  margin-top: 5%;
  background: black;
  border-radius: 12px;
  box-shadow: 0px 0px 25px white;
}

.shake {
  animation: shake .5s 0.0125s;
}

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    transform: translate(10px);
  }
}

@media screen and (max-width:1300px) {
  .container {
    width: 1100px;
    height: 600px;
    margin-left: calc(50% - 610px);
  }
}

@media screen and (max-width:1200px) {
  .container {
    width: 1000px;
    height: 500px;
    margin-left: calc(50% - 550px);
  }
}

@media screen and (max-width:1200px) and (min-height:1200px) {
  .container {
    width: 900px;
    height: 1100px;
    margin-top: calc(50% - 390px);
    margin-left: calc(50% - 465px);
  }
}

@media screen and (max-width:1000px) and (max-height:1400px) {
  .container {
    width: 700px;
    height: 1000px;
    margin-top: calc(50% - 280px);
    margin-left: calc(50% - 380px);
  }
}

@media screen and (max-width:1200px) and (max-height:768px) {
  .container {
    width: 850px;
    height: 400px;
    margin-left: calc(50% - 480px);
  }
}

@media screen and (max-width:768px) and (max-height:1100px) {
  .container {
    width: 600px;
    height: 800px;
    margin-left: calc(50% - 343px);
    margin-top: calc(50% - 280px);
  }
}

@media screen and (max-width:600px) and (max-height:768px) {
  .container {
    width: 450px;
    height: 500px;
    margin-left: calc(50% - 250px);
    margin-top: calc(50% - 150px);
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 320px;
    height: 550px;
    margin-left: calc(50% - 180px);
  }
}

/* @media screen and (max-width: 450px) and (max-height:1000px) { */

@media screen and (max-width: 450px) and (max-height:1000px) {
  .container {
    width: 300px;
    height: 650px;
    margin-top: calc(50% - 50px);
    margin-left: calc(50% - 170px);
  }
}

@media screen and (max-width: 450px) and (max-height:768px) {
  .container {
    width: 300px;
    height: 470px;
    margin-left: calc(50% - 170px);
  }
}

@media screen and (max-width: 400px) and (max-height:700px) {
  .container {
    width: 300px;
    height: 420px;
    margin-left: calc(50% - 170px);
  }
}

@media screen and (max-width: 300px) and (max-height:768px) {
  .container {
    width: 220px;
    height: 420px;
    margin-top: calc(50% - 100px);
    margin-left: calc(50% - 130px);
  }
}

@media screen and (max-width:950px) and (orientation:landscape) {
  .container {
    height: 260px;
    margin-top: calc(50vh - 130px);
    margin-left: calc(50% - 330px);
    width: 575px;
  }

  .soundDiv {
    margin: 0 0 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    right: 20px;
  }
}


@media screen and (max-width:950px) and (max-height:400px) {

  .container {
    height: 250px;
    margin-top: calc(50vh - 125px);
    margin-left: calc(50% - 290px);
    width: 510px;
  }

}

@media screen and (max-width:950px) and (max-height:300px) {

  .container {
    height: 160px;
    margin-top: calc(50vh - 75px);
    margin-left: calc(50% - 240px);
    width: 400px;
  }

}