.Game {
  display: flex;
  text-align: center;
  height: 100vh;
  font-family: cursive sans-serif;
  flex-direction: column;
  justify-content: center;
}
  
@media screen and (max-width:950px) and (orientation:landscape) {
  .Game {
    justify-content: space-between;
  }
}  

  
  