.card {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  height: 180px;
  width: 200px;
  margin: 6px;
}

.card-img {
  width: 100%;
  border-radius: calc(.25rem - 1px);
  height: 100%;
}

.won {
  animation: won .5s 0.125s;
}

@keyframes won {

  0% {
    transform: scale(.95);
  }

  25% {
    transform: scale(1.20);
  }

  50% {
    transform: scale(.95);
  }

  75% {
    transform: scale(1.20);
  }

  100% {
    transform: scale(.95);
  }

}

@media screen and (max-width: 850px) and (orientation:landscape) {
  .card {
    height: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 450px) {

  .card {
    width: 90px;
    height: 80px;
  }
}