.fas {
    color: white;
    font-size: 1.5rem;
}

#soundBtn {
    position: fixed;
    top: 100px;
    right: 60px;
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 0px grey;
}

@media screen and (max-width: 1300px) {
    #soundBtn {
        width: 50px;
        top: 70px;
        right: 25px;
    }
}

@media screen and (max-width:950px) and (orientation:landscape) {

    #soundBtn {
        top: 85px;
        right: 13px;
    }
}

@media screen and (max-width: 450px) {
    #soundBtn {
        position: relative;
        width: 50px;
        top: 12px;
        left: 0;
        margin: 15px 25px 5px auto;
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0;
    }
}

@media screen and (max-width:950px) and (max-height:400px) {
    #soundBtn {
        width: 40px;
        height: 40px;
        top: 60px;
        right: 10px;
    }
}